.container {
   width: 100%;
   height: 100vh;
   background-color: #FFFDCB;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sparkle {
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: rgba(255, 255, 255, 0.7); 
   border-radius: 50%;
   animation: sparkleAnimation 2s linear infinite;
}

@keyframes sparkleAnimation {
   0% {
       transform: scale(0);
       opacity: 1;
   }
   50% {
       transform: scale(1.5);
       opacity: 0;
   }
   100% {
       transform: scale(0);
       opacity: 1;
   }
}

.book {
   width: 400px;
   height: 600px;
   perspective: 1000px;
   position: relative;
}

.cover {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #FEC7B4;
   transition: transform 1s;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   padding-left: 30px;
   padding-right: 30px;

}

.content {
   background-color: #FEC7B4;
   animation: move;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-delay: 5s,10s;
   z-index: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.back {
   transform-origin: left center;
   animation-name: flipBook;
   animation-duration: 2s;
   animation-delay: 5s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
   z-index: 1;
}

.img {
   width: 400px;
   height: 400px;
   animation: zoomAndRotate 2s ease-in-out forwards;
   opacity: 0; /* Bắt đầu với độ mờ */
}

@keyframes flipBook {
   from {
       left: 0px;
       transform: rotateY(0deg);
   }
   25% {
       left: 100px;
   }
   to {
       left: 200px;
       transform: rotateY(-180deg);
   }
}

@keyframes move {
   from {
       left: 0px;
   }
   25% {
       left:100px;
   }
   to {
       left:200px;
   }
}
.svg-text text {
   font-size: 30px;
   fill: transparent;
   stroke: #F7418F;
   stroke-width: 2;
   stroke-dasharray: 400;
   stroke-dashoffset: 400;
   animation: dash 10s linear forwards;
}

@keyframes dash {
   to {
       stroke-dashoffset: 0;
   }
}

.img {
   width: 400px;
   height: 400px;
   animation: zoomAndRotate 2s ease-in-out forwards;
   opacity: 0; /* Bắt đầu với độ mờ */
}

@keyframes zoomAndRotate {
   from {
       transform: scale(0) rotate(0deg); /* Bắt đầu với kích thước không và không xoay */
       opacity: 0; /* Bắt đầu với độ mờ */
   }
   to {
       transform: scale(1) rotate(360deg); /* Kết thúc với kích thước ban đầu và xoay 360 độ */
       opacity: 1; /* Hiển thị hoàn toàn */
   }
}
.long-text {
   overflow: auto; /* Hiển thị thanh cuộn nếu cần */
   white-space: pre-line; /* Bảo đảm văn bản không bị cắt */
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #F4538A;
   font-weight: bold;
   line-height: 1.5;
}

.slide-in-text {
   transform-origin: left center;
   animation: slideInText 5s ease forwards;
   animation-delay: 4s;
   opacity: 0;
}

@keyframes slideInText {
   from {
       transform:scaleX(0);
   }
   to {
       transform: scaleX(1);
       opacity: 1;
   }
}


